body {
  margin: 0;
  font-family: Arial, Sans-Serif;
  color: darkblue;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: darkblue;
  color: white;
}

.nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.burger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    background: darkbue;
    width: 100%;
  }

  .nav.active {
    display: flex;
  }

  .burger {
    display: block;
  }
}
